@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  @apply transition-colors duration-500 ease-out;
}
input[type='range'] {
  --range-progress: 0;
  -webkit-appearance: none;
  position: relative;
  background: #ccc;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  cursor: pointer;
}

/* Input range - firefox */
input[type='range']::-moz-range-track {
  position: relative;
  background: #ccc;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  cursor: pointer;
}

/* played progress length - Chrome & safari*/
input[type='range']::before {
  content: '';
  height: 2px;
  background: #000;
  width: var(--range-progress);
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

/* played progress length - firefox */
input[type='range']::-moz-range-progress {
  background: #000;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  height: 2px;
}

/* slider thumb - chrome and safari */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 3px solid black;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  transition: all;
  transition-duration: 0.3s;
}

/* dragging thumb - chrome and safari */
input[type='range']:active::-webkit-slider-thumb {
  transform: scale(1.4);
}

[data-mode='dark'] input[type='range']::-webkit-slider-thumb,
[data-mode='dark'] input[type='range']::-moz-range-thumb {
  border: 3px solid #fff;
  background-color: #000;
}
/* slider thumb - firefox */
input[type='range']::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 3px solid black;
  background-color: #fff;
  cursor: pointer;
  border: transparent;
  position: relative;
}
/* dragging thumb - firefox */
input[type='range']:active::-moz-range-thumb {
  transform: scale(1.4);
}
